# ==============================================
#   PATH FOR DATA
# ==============================================
DATA_SAVE=.data

# ==============================================
#   BASE (Environments)
# ==============================================
S6OVERLAY_VERSION=1.21.0.2
S6_BEHAVIOUR_IF_STAGE2_FAILS=1
LANG=en_US.UTF-8
LC_ALL=en_US.UTF-8
LANGUAGE=en_US.UTF-8
TERM=xterm

# ==============================================
#   BASE-CONSUL (Environments)
# ==============================================
BASE_CONSUL_PORT=2220
CONSULTEMPLATE_VERSION=0.19.3

# ==============================================
#   CONSUL (Environments)
# ==============================================
CONSUL_VERSION=1.0.0

# ==============================================
#   APPLICATION (Environments)
# ==============================================
PATH_HOME=/home/docker
PATH_WORKSPACE=/home/docker/workspace
PATH_APPLICATION=/home/docker/workspace

# ==============================================
#   RUBY (Environments)
# ==============================================
RUBY_VERSION=2.4.2
RUBY_PACKAGE=rbenv
RUBY_PORT=2222

# ==============================================
#   VIM
# ==============================================
VIM_VERSION=8.0.1207
LUA_VERSION=5.3.4
LUAROCKS_VERSION=2.4.3
VIM_PORT=2224

# ==============================================
#  OPTIONAL ARGUMENTS
# ==============================================
CONSUL_OPTIONS=-server -bootstrap-expect 1 -client 0.0.0.0 -ui    # minimal server options
