# ----------------------------
#   PATH FOR DATA
# ----------------------------
DATA_SAVE=.data

# ----------------------------
#   Base-Consul
# ----------------------------
CONSUL_AGENT=172.16.0.1
CONSUL_PORT=8500
CONSUL_TLS=0
CONSUL_SERVICENAME=consul
CONSUL_SERVICEPORT=1234

# ----------------------------
#   Consul
# ----------------------------
CONSUL_PORT=8085
CONSUL_OPTIONS=-server -bootstrap-expect 1 -client 0.0.0.0 -ui

# ----------------------------
#   NodeJS
# ----------------------------
# NODE_VERSION=8.6.0
# YARN_VERSION=1.1.0

# ----------------------------
#   MariaDB
# ----------------------------
CONSUL_MARIADB_AGENT=consul
# CONSUL_MARIADB_PORT=8500
# CONSUL_MARIADB_KEYPREFIX=path/prefix/
CONSUL_MARIADB_SERVICENAME=mariadb
CONSUL_MARIADB_SERVICETAGS=dev
CONSUL_MARIADB_SERVICEPORT=3306
CONSUL_MARIADB_CHECKTYPE=tcp
# MARIADB_PROFILE=my-small
MARIADB_ROOTPASSWORD=mariadb
# MARIADB_ROOTHOSTMASK=172.30.0.%
MARIADB_DATABASE=mydb
MARIADB_USERNAME=mariadb
MARIADB_PASSWORD=mariadb
MARIADB_HOSTMASK=172.%.%.%
# MARIADB_CONFIGSCRIPT=/root/mariadb/config.sh
MARIADB_PORT=3306

# ----------------------------
#   Nginx
# ----------------------------
CONSUL_NGINX_AGENT=consul
CONSUL_NGINX_SERVICENAME=nginx
CONSUL_NGINX_SERVICETAGS=dev
CONSUL_NGINX_SERVICEPORT=80
CONSUL_NGINX_CHECKTYPE=tcp
NGINX_HTTP_PORT=8086
NGINX_SSL_PORT=4431

# ----------------------------
#   PostgreSQL
# ----------------------------
CONSUL_POSTGRES_AGENT=consul
# CONSUL_POSTGRES_PORT=8500
# CONSUL_POSTGRES_KEYPREFIX=path/prefix/
CONSUL_POSTGRES_SERVICENAME=postgresql
CONSUL_POSTGRES_SERVICETAGS=dev
CONSUL_POSTGRES_SERVICEPORT=5432
CONSUL_POSTGRES_CHECKTYPE=tcp
POSTGRESQL_PORT=5432
POSTGRESQL_DATABASE=mydb
POSTGRESQL_USERNAME=mariadb
POSTGRESQL_PASSWORD=mariadb
POSTGRESQL_ADDRESS=172.16.0.0/12
# POSTGRESQL_CONFIGSCRIPT=/root/postgresql/config.sh

# ----------------------------
#   Redis
# ----------------------------
CONSUL_REDIS_AGENT=consul
# CONSUL_REDIS_PORT=8500
# CONSUL_REDIS_KEYPREFIX=path/prefix/
CONSUL_REDIS_SERVICENAME=redis
CONSUL_REDIS_SERVICETAGS=dev
CONSUL_REDIS_SERVICEPORT=6379
CONSUL_REDIS_CHECKTYPE=tcp
REDIS_PORT=6379

# ----------------------------
#   Ruby
# ----------------------------
CONSUL_RUBY_AGENT=consul
# RUBY_MAJOR=2.4
# RUBY_VERSION=2.4.2
# RUBY_DOWNLOAD_SHA256=748a8980d30141bd1a4124e11745bb105b436fb1890826e0d2b9ea31af27f735
# RUBYGEMS_VERSION=2.6.13
# BUNDLER_VERSION=1.15.4