# ==============================================
#   PATH FOR DATA
# ==============================================
DATA_SAVE=.data

# ==============================================
#   BASE (Environments)
# ==============================================
S6OVERLAY_VERSION=v1.20.0.0
S6_BEHAVIOUR_IF_STAGE2_FAILS=1
LANG=en_US.UTF-8
LC_ALL=en_US.UTF-8
LANGUAGE=en_US.UTF-8
TERM=xterm

# ==============================================
#   BASE-CONSUL (Environments)
# ==============================================
CONSUL_BASE_SERVICENAME=base-consul
CONSUL_BASE_SERVICEPORT=1234
CONSULTEMPLATE_VERSION=0.19.0

# ==============================================
#   CONSUL (Environments)
# ==============================================
CONSUL_VERSION=0.8.3
CONSUL_PORT=8501

# ==============================================
#   WORKSPACE (Environments)
# ==============================================
COMPOSER_VERSION=1.5.2
PATH_HOME=/home/docker
PATH_WORKSPACE=/home/docker/workspace
WORKSPACE_PORT=2222

# ==============================================
#   APPLICATION (Environments)
# ==============================================
PATH_APPLICATION=/home/docker/workspace
APPLICATION_PORT=2223
SSH_AUTHORIZED_KEYS=ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQDJSmTg48jLvAnLk5e4X27Hc37bwerd/dtmZ+xeBmtLJQBjkPGajB8/fecx2R2i29ZkN4RiMOFXCw5B/DkJuxVjHenIkg15SPeGOaM6VJ+fIgzr+zs//0QSsGdjCIilcpMYL7qx3ZujQ3kS/T7oSR28w9unWO54X3N3H8T+RvCV6Jbi7NjVt97VI52KvqM/XOGClqmTz+bAQC485rpn3wHcYvRW+aWqvwYIE1xNT8PDQUEVWzlu+kcaIYjFpdl6ThUbevxuPvLaRZpXC3IxSyeInpkjvoxKtA4SGlFDwQ82zu8yrgDXEVdD0o8B4b9LWjKWeOkepdgzwpqPh1dpWkZxRloHTP6idBScphCZ/OzI1uvc9gpIK1T6h2JB0MAFuyFr16N6JitmaVlxhLNxSpbtFjMp+XIvpdkxzMyteb00v+XTJydmrw/veEW4/An1uUrzo8wEhO2TuS2BfqGXQg18cS6mQ9veZW8TFLXFr2W35/TD2Qk0nnRW6LCJ1Fo/sfviWPQ8BWVx3zFWzYURYE8kXFkLcYgWK0oXkWMNC5j2d8w/Joh5WgJkvnhyTnRdoiOoyYcULeCvnzblfxxch1nUfDPPmw6hHwC+s9wfRCc9UYql4AHNEOoiEZjzsM7zfyb5twYMj9ijfVrbfS1vipIvr9p8pfWPgbCboF4Xl2PU0w== zeroc0d3.team@gmail.com
SSH_USER=docker
SSH_USER_PASSWORD=docker
SSH_USER_PASSWORD_HASHED=false
SSH_ROOT_PASSWORD=docker

CONSUL_APPLICATION_AGENT=application
CONSUL_APPLICATION_PORT=8500
CONSUL_APPLICATION_KEYPREFIX=path/prefix/
CONSUL_APPLICATION_SERVICENAME=application
CONSUL_APPLICATION_SERVICETAGS=dev
CONSUL_APPLICATION_SERVICEPORT=22
CONSUL_APPLICATION_CHECKTYPE=tcp

OPENSSH_PASSWORDAUTHENTICATION=no
OPENSSH_SFTPUSERS=
OPENSSH_SFTPGROUP=sftp
OPENSSH_SFTPGID=101
OPENSSH_SFTPCHROOT=1
OPENSSH_SFTPCHROOTUSERDIR=public_html

# ==============================================
#  OPTIONAL ARGUMENTS
# ==============================================
CONSUL_OPTIONS=-server -bootstrap-expect 1 -client 0.0.0.0 -ui    # minimal server options

# ==============================================
#   MARIADB
# ==============================================
CONSUL_MARIADB_AGENT=consul
# CONSUL_MARIADB_PORT=8500
# CONSUL_MARIADB_KEYPREFIX=path/prefix/
CONSUL_MARIADB_SERVICENAME=mariadb
CONSUL_MARIADB_SERVICETAGS=dev
CONSUL_MARIADB_SERVICEPORT=3306
CONSUL_MARIADB_CHECKTYPE=tcp
# MARIADB_PROFILE=my-small
MARIADB_ROOTPASSWORD=mariadb
# MARIADB_ROOTHOSTMASK=172.30.0.%
MARIADB_DATABASE=mydb
MARIADB_USERNAME=docker
MARIADB_PASSWORD=password
MARIADB_HOSTMASK=172.%.%.%
# MARIADB_CONFIGSCRIPT=/root/mariadb/config.sh
MARIADB_PORT=3306

# ==============================================
#   MONGODB
# ==============================================
CONSUL_MONGODB_AGENT=consul
# CONSUL_MONGODB_PORT=8500
# CONSUL_MONGODB_EFIX=path/prefix/
CONSUL_MONGODB_NAME=mongodb
CONSUL_MONGODB_TAGS=dev
CONSUL_MONGODB_PORT=27017
CONSUL_MONGODB_TYPE=tcp
# MONGODB_FILE=my-small
MONGODB_WORD=mongodb
# MONGODB_MASK=172.30.0.%
MONGODB_BASE=mydb
MONGODB_NAME=docker
MONGODB_WORD=password
MONGODB_MASK=172.%.%.%
# MONGODB_RIPT=/root/run.sh
MONGODB_PORT=27017

# ==============================================
#   NGINX
# ==============================================
CONSUL_NGINX_AGENT=consul
CONSUL_NGINX_SERVICENAME=nginx
CONSUL_NGINX_SERVICETAGS=dev
CONSUL_NGINX_SERVICEPORT=80
CONSUL_NGINX_CHECKTYPE=tcp
NGINX_HTTP_PORT=8085
NGINX_SSL_PORT=4431

# ==============================================
#   NODEJS
# ==============================================
CONSUL_NODEJS_AGENT=consul
# CONSUL_NODEJS_PORT=8500
# CONSUL_NODEJS_KEYPREFIX=path/prefix/
CONSUL_NODEJS_SERVICENAME=nodejs
CONSUL_NODEJS_SERVICETAGS=dev
CONSUL_NODEJS_SERVICEPORT=22
CONSUL_NODEJS_CHECKTYPE=tcp
NODEJS_PORT=2223
NODE_VERSION=7.10.1
NPM_VERSION=4.6.1
YARN_VERSION=1.1.0

# ==============================================
#   POSTGRESQL
# ==============================================
CONSUL_POSTGRES_AGENT=consul
# CONSUL_POSTGRES_PORT=8500
# CONSUL_POSTGRES_KEYPREFIX=path/prefix/
CONSUL_POSTGRES_SERVICENAME=postgresql
CONSUL_POSTGRES_SERVICETAGS=dev
CONSUL_POSTGRES_SERVICEPORT=5432
CONSUL_POSTGRES_CHECKTYPE=tcp
POSTGRESQL_PORT=5432
POSTGRESQL_DATABASE=mydb
POSTGRESQL_USERNAME=docker
POSTGRESQL_PASSWORD=password
POSTGRESQL_ADDRESS=172.16.0.0/12
# POSTGRESQL_CONFIGSCRIPT=/root/postgresql/config.sh

# ==============================================
#   REDIS
# ==============================================
CONSUL_REDIS_AGENT=consul
# CONSUL_REDIS_PORT=8500
# CONSUL_REDIS_KEYPREFIX=path/prefix/
CONSUL_REDIS_SERVICENAME=redis
CONSUL_REDIS_SERVICETAGS=dev
CONSUL_REDIS_SERVICEPORT=6379
CONSUL_REDIS_CHECKTYPE=tcp
REDIS_PORT=6379

# ==============================================
#   RUBY
# ==============================================
RUBY_VERSION=2.4.2
CONSUL_RUBY_AGENT=consul
# CONSUL_RUBY_PORT=8500
# CONSUL_RUBY_KEYPREFIX=path/prefix/
CONSUL_RUBY_SERVICENAME=ruby
CONSUL_RUBY_SERVICETAGS=dev
CONSUL_RUBY_SERVICEPORT=22
CONSUL_RUBY_CHECKTYPE=tcp
RUBY_PORT=2222

# ==============================================
#   VIM
# ==============================================
VIM_VERSION=8.0.1207
LUA_VERSION=5.3.4
LUAROCKS_VERSION=2.4.3
CONSUL_VIM_AGENT=consul
# CONSUL_VIM_PORT=8500
# CONSUL_VIM_KEYPREFIX=path/prefix/
CONSUL_VIM_SERVICENAME=vim
CONSUL_VIM_SERVICETAGS=dev
CONSUL_VIM_SERVICEPORT=22
CONSUL_VIM_CHECKTYPE=tcp
VIM_PORT=2224