#!/bin/sh

DATE=`date '+%Y-%m-%d %H:%M:%S'`
ENV="development"         # (development / production)
REMOVE_CACHE="0"          # (0 = using cache, 1 = no-cache)
RECREATE_CONTAINER="0"    # (0 = disable recreate container, 1 = force recreate container)
SKIP_BUILD="0"            # (0 = with build process, 1 = bypass build process)

CONTAINER_PRODUCTION="mariadb mongodb nginx nodejs postgresql redis ruby application"
CONTAINER_DEVELOPMENT="mongodb nodejs ruby application"

export DOCKER_CLIENT_TIMEOUT=120
export COMPOSE_HTTP_TIMEOUT=120

logo() {
  echo "--------------------------------------------------------------------------"
  echo "  __________                  _________ _______       .___________        "
  echo "  \____    /___________  ____ \_   ___ \\   _  \    __| _/\_____  \  LAB  "
  echo "    /     // __ \_  __ \/  _ \/    \  \//  /_\  \  / __ |   _(__  <       "
  echo "   /     /\  ___/|  | \(  <_> )     \___\  \_/   \/ /_/ |  /       \      "
  echo "  /_______ \___  >__|   \____/ \______  /\_____  /\____ | /______  /      "
  echo "          \/   \/                     \/       \/      \/        \/       "
  echo "--------------------------------------------------------------------------"
  echo " Date / Time: $DATE"
}

build_env() {
  if [ "$ENV" = "development" ]
  then
    BUILD_ENV="$CONTAINER_DEVELOPMENT"
  else
    BUILD_ENV="$CONTAINER_PRODUCTION"
  fi
}

cache() {
  if [ "$REMOVE_CACHE" = "0" ]
  then
    CACHE=""
  else
    CACHE=" --no-cache"
  fi
}

recreate() {
  if [ "$RECREATE_CONTAINER" = "0" ]
  then
    RECREATE=""
  else
    RECREATE=" --force-recreate"
  fi
}

docker_build() {
  if [ "$SKIP_BUILD" = "0" ]
  then
    echo ""
    echo "--------------------------------------------------------------------------"
    echo "### docker-compose build $CACHE $BUILD_ENV"
    echo "--------------------------------------------------------------------------"
    for CONTAINER in $BUILD_ENV
    do
      echo ""
      echo ">>> docker-compose build $CONTAINER"
      echo "--------------------------------------------------------------------------"
      docker-compose build $CONTAINER
    done
  fi
}

docker_up() {
  echo ""
  echo "--------------------------------------------------------------------------"
  echo "### docker-compose up $RECREATE $BUILD_ENV"
  echo "--------------------------------------------------------------------------"
  docker-compose up $RECREATE $BUILD_ENV
}

main() {
  logo
  cache
  recreate
  build_env
  docker_build
  docker_up
}

### START HERE ###
main